/* Style for the category header */
.category-header {
    font-size: 24px;
    font-weight: bold;
    color: #020b16; /* Blue color */
}

/* Style for the "add new question" link */
.new-question-link {
    background-color: rgb(210, 149, 223);
    color: #FFF; /* White color */
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

/* Style for the list of questions */
.question-list {
    list-style-type: none;
    padding: 0;
}

/* Style for individual question items */
.question-item {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #e52424;
    border-radius: 5px;
    background-color: #F8F8F8;
}

/* Style for "see answers" link */
.see-answer-link {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
}

/* Style for "edit question" link */
.edit-question-link {
    color: #4CAF50; /* Green color */
    text-decoration: none;
}
